<%- include("../../layout/admin-navbar") -%>

    <div class="bill">
        <p class="title">الفاتورة</p>
        <div class="bill-paper" id="dvContents">
            <div class="bill-bg">
            </div>
            <p class="title">بوتيك الخاتونة</p>
            <div class="slide"></div>
            <div class="info">
                <p>معلومات الزبون : </p>
                <table class="info-table table-bordered">
                    <tr>
                        <th>اسم الزبون</th>
                        <th>رقم الهاتف</th>
                        <th>المحافظة</th>
                        <th>التاريخ</th>
                    </tr>

                    <tr>
                        <td>
                            <%= data.name%>
                        </td>
                        <td>
                            <%= data.phone%>
                        </td>
                        <td>
                            <%= data.location%>
                        </td>
                        <td>
                            <%= data.Date%>
                        </td>
                    </tr>
                </table>
                <p class="order-title">المنتجات المطلوبة</p>
                <table class="info-table table-bordered">
                    <tr>
                        <th>المنتج</th>
                        <th>العدد</th>
                        <th>سعر القطعة</th>
                        <th>السعر النهائي</th>
                    </tr>

                    <% data.order.forEach(element=> {%>
                        <tr>
                            <td>
                                <%= element.name%>
                            </td>
                            <td>
                                <%= element.qty%>
                            </td>
                            <td>
                                <%= element.price%>
                            </td>
                            <td id="price">
                                <%= element.price * element.qty%>
                            </td>
                        </tr>
                        <%}) %>
                            <tr>
                                <td colspan="2">المجموع</td>
                                <td colspan="2" id="total_price"></td>
                            </tr>
                            <tr>
                                <td colspan="2">توصيل الى <%= data.location%>
                                </td>
                                <% if(data.location=="بغداد" ){%>
                                    <td colspan="2" id="tax">5000</td>

                                    <%} else {%>
                                        <td colspan="2" id="tax">8000</td>
                                        <%} %>
                            </tr>
                            <tr>
                                <td colspan="4" id="total_td"></td>
                            </tr>
                </table>
                <p class="bill-des">يرجى تفقد الطلب قبل مغادره المندوب<br>
                    وبخلاف ذلك يتحمل الزبون كلفة التوصيل الثاني ( التعديل )<br>
                    في حالة وجود خلل في الطلبية يتم التواصل معنا مباشرة وعدم استلامها .</p>
            </div>
        </div>

        <% if(data.type == 0){%>
            <div class="tools">
                <form action="/admin/order/accept/<%= data.id%>?_method=PUT" method="post">
                    <button class="btn btn-success">قبول</button>
                </form>
                <form action="/admin/order/reject/<%= data.id%>?_method=PUT" method="post">
                <button class="btn btn-danger">رفض</button>
                </form>
            </div>
            <%} %>

        <% if(data.type == 1){%>
            <div class="tools">
                <form action="/admin/order/success/<%= data.id%>?_method=PUT" method="post">
                    <button class="btn btn-success">اضافة الى سجل الفواتير</button>
                </form>
                <form action="/admin/order/return/<%= data.id%>?_method=PUT" method="post">
                <button class="btn btn-danger">اضافة الى الطلبات المعادة</button>
                </form>
            </div>
        <%} %>

        <% if(data.type == 2){%>
            <div class="tools">
                <form action="/admin/order/accept/<%= data.id%>?_method=PUT" method="post">
                    <button class="btn btn-success">قبول الطلب</button>
                </form>
                <form action="/admin/order/delete/<%= data.id%>?_method=DELETE" method="post">
                <button class="btn btn-danger">حذف الفاتورة</button>
                </form>
            </div>
        <%} %>

        <% if(data.type == 3){%>
            <div class="tools">
                <form action="/admin/order/delete/<%= data.id%>?_method=DELETE" method="post">
                <button class="btn btn-danger">حذف الفاتورة</button>
                </form>
            </div>
        <%} %>
    </div>

    <script>
        var total = document.querySelectorAll("#price")
        var tax = document.getElementById("tax").innerHTML
        var array = []

        for (let index = 0; index < total.length; index++) {
            var element = array.push(Number(total[index].innerHTML));

        }

        var i = array.reduce((a, b) => a + b,)
        document.getElementById("total_td").innerHTML = "المبلغ الكلي : " + (i + Number(tax)).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + " دينار عراقي"
        document.getElementById("total_price").innerHTML = i.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    </script>

    <%- include("../../layout/footer") -%>